/* Efnisyfirlit */
nav {
	margin: 0;
}
nav a {
	display: block;
	width: 90%;							
	background-color:#ccc;
	border: 2px outset #ddd;
	border-radius: 4px;
	padding: 4px 8px;
	text-decoration: none;						/* Engin undirlína*/
	text-align:center;							/* Miðjuset texta*/
	color: #443;								/* Textalitur*/
/* 	font-family: Tahoma, Arial, sans-serif; 	Leturtýpur*/			
	font-size: 1em;								/* Leturstærð*/
	letter-spacing:.05em;						/* Bil á milli stafa*/
	font-size: 1em;
	font-weight: normal;
}
nav a:visited {
	color: #665;								/* Textalitur dökkgrár*/
}
nav a:hover {
	color: #D15600;								/* Textalitur órans*/
	border: 2px inset;
}		
nav a:active {
	color: #f00;								/* Textalitur rauður*/	
}	 

#accordion {
	z-index:9999;
	height: 2em;
	margin:0;
	padding:0;
}
#accordion a{
	text-decoration:none;
}


#accordion li{
	cursor: pointer;
	background-color: rgba(234,234,234,.7);
	margin:0;
	padding:5px 0 2px 1em;
	font-weight:bold;
	color:#015287;
	border:1px solid #b2b2b2;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	border-radius: 4px;
}
#accordion li:hover{
	color: #D15600;
	background-color: rgba(223,223,223,.7);
}
#accordion li.active{
	color:#D15600
}
#accordion li ul{
	padding:0;
	margin:0;
	font-weight: bold;
}

#accordion li.active li{
	text-indent:0;
}
#accordion li li{
	width: 90%;
	margin:0 0 -4px -1em;
	font-weight: normal;
	background:none;
	border:0;
	font-size: 1em;
	font-weight: bold;
}