 body {
/*  font-style(1) -weight(2) -size(3) -family(4) */
	font:normal normal .9em "Trebuchet MS", Arial, sans-serif;
	margin:0 2%; 			/*2% spássía hægra og vinstra megin í vafra.*/
	padding:0;
	background: url("../myndir/body-bg.png") -100px bottom fixed no-repeat;
}
div, header, nav, article, aside, table {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
} 
img, video, audio {
	width: 100%;
	height: auto;
}
h1,h2{
	padding:1em .5em 0 .5em;
}
h4, p, audio, video{
	padding:0 1em;
}
h4 {
	margin-bottom: 0;
	color:#00467f;
}
.logo {
	float: right;
	padding: 1em 0;
	margin-right: 2em;
	max-width: 18em;
}
article {
	background-color: rgba(244,244,244,.7);
	padding:0;
	border-radius:7px;
}
article a {
	color: #00467f;
}
article a:visited{
	text-decoration: none;
}
article a:hover {
	color: #D15600;
	text-decoration: none;
}
aside {
	background-color: rgba(244,244,244,.7);
	padding:0;
	border-radius:7px;
}
/*article og aside header letur*/
article header, aside header {
	height:35px;
	background-color:#00467f;
	border:0;
	border-radius: 8px 8px 0 0;
}
aside header h3, article header h3 {
	font-weight:normal;
	color:#fff;
	padding:0.3em 1em;
	margin:0;
}
article p, aside p {
	color:#444;
}
article figure{
	margin: 10px;
	float:right;
}
article ul {
	margin:-1.5em 1em 1em 4em;
}
/*myndatexti*/
figcaption {
	font:italic normal .8em Trebuchet MS, Arial, sans-serif;
}
/*áherslutexti*/
blockquote {
	border:1px dashed;
	border-radius: 4px;
	padding:.5em;
	margin:1em;
}
footer {	
	margin:0;
	padding:0;
}
footer p {		
	margin:0;
	padding:.6em;
	text-align:center;
}
article footer, aside footer{
	background-color:#aaa;
}
article footer p, aside footer p{
	margin:0;
	padding:0.5em;
	color:#fff;
}
table {
	border-collapse:collapse; /* table og td borðar falla saman í eina heild */ 
	border: 3px solid #00467f;
	border-width:3px 0; /* tekur út borða hægra og vinstra megin */
	font-size: 0.9em;
	width:95%;
	margin:1em;
	
}
table th {
	background:#ddd;
	border: 1px solid #00467f;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}
table tfoot td {
	text-align:center;
	background:#ddd;
	font-style:italic;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}
table tr {
	height:30px; /* gott að setja hæð á tr tagið */
}
table td {
	background-color:#fff;
	padding:3px;
	border: 1px solid #00467f;
	text-align:center;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}

caption { 
	margin-bottom:.8em;
	text-align:left;
	font-weight:bold;	
}
hr {
	width: 60%;
	margin: 0 auto;
}
/* ==================
   Helper classes
   =============== */

.clear {
clear:both; /*tekur út float skipun sem fylgir article og aside */
}
.overhidden{
	overflow:hidden;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.virkur:before {
	color: #D15600;
    content:">>  ";
}
.virk {
	color:#D15600;
	border: 2px inset #999;
}
/*.virk:visited {
	color:#eee;
}*/
.smallp {
	width:12em;
	height:12em;
}