/*flæðistýringar*/

@media only screen and (min-width: 14em) {

    nav a {
        width: 100%;
        float: none;
    }
    aside {
        width: 100%;
        float: none;
    }
    footer {
        display: none !important;
        visibility: hidden;
    }
    .hidden {
    display: none !important;
    visibility: hidden;
	}
}
@media only screen and (min-width: 22em) {

    nav a {
        width: 100%;
        float: none;
    }
    aside {
        width: 100%;
        float: none;
    }
    .hidden {
    display: inline !important;
    visibility: visible;
    }
}

@media only screen and (min-width: 48em) {

    body{
        font-size: 1em;
    }
    nav a {
        width: 98%;
        float: none;
    }
    /* aside heldur utanum nav */
    aside {
        width: 33%;
        float: left;
        margin-right: 2%;
    }
    article {
        width: 65%;
        float: right;
    }
    table {
        font-size: 1em;
    }
    footer {
        display: block !important;
        visibility: visible;
    }
}

@media only screen and (min-width: 71em) {

    body {
        width: 64.125em;      /* 1140px - 10% for margins */
        margin: 0 auto;       /*vefsíðan miðjusett*/
        line-height: 1.6em;   /*aukið línubil*/
    }
    aside {
        width: 30%;
        float: right;   /* aside og article víxlað - just for the hell of it */
    }
    article {
        width: 64%;
        float: left;
        margin-right: 3%;  /* bil á milli article og aside aukið */
    }
}


