#info{
	width: 90%;
	margin: -1em 0 1em 0;
	padding: 0;
}
#info p {
	width: inherit;
	background-color: inherit;
}
#info-nav{
	margin: 0;
	padding: 3px 0;
	width: 98%;
	list-style: none;
}
#info-nav li{
	display: inline;
	border-bottom: 0;
	margin:0 2px 0 1em;
	padding: 0;
}
#info-nav li a:hover{
	color:#d15600;
}
#info-nav li.current{ 
	background: #fff;
	padding-bottom: 4px;
  
}
#info-nav li.current a{ 
	text-decoration: none;
  	color:#d15600;
}

