

table {
	border-collapse:collapse; /* table og td borðar falla saman í eina heild */ 
	border: 3px solid #00467f;
	border-width:3px 0; /* tekur út borða hægra og vinstra megin */
	font-size: 0.9em;
	width:95%;
	margin:1em;
	
}
table th {
	background:#ddd;
	border: 1px solid #00467f;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}
table tfoot td {
	text-align:center;
	background:#ddd;
	font-style:italic;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}
table tr {
	height:30px; /* gott að setja hæð á tr tagið */
}
table td {
	background-color:#fff;
	padding:3px;
	border: 1px solid #00467f;
	text-align:center;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}

caption { 
	margin-bottom:.8em;
	text-align:left;
	font-weight:bold;	

	}
	